extends ../layoutCRUD

block content
  .masthead-usuario-create
    .container(style='padding-top: 140px;')
      .row.justify-content-md-center(style='padding-top: 30px;')
        .col-md-5.col-sm-6.col-12
          if info && info.message 
            div.alert.alert-danger=info.message
          h2 Recuperación de password
          p Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo de password
          form#Login(action='/session/forgotPassword' method='post')
            .form-group
              input#email.form-control(type='email' placeholder='Email Address' name="email")
            button.btn.btn-light.btn-block(type='submit') Resetear
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br