extends ../layoutCRUD

block content
  .masthead-usuario-list
    .container(style='padding-top: 140px;')
      a.btn.btn-light(href='/usuarios/create') Nuevo Usuario
      table.table(style='margin-top: 30px; color: white;')
        thead
            tr
                th(scope='col') # 
                th(scope='col') Nombre 
                th(scope='col') Email
                th(scope='col') Verificado
                th(scope='col') Action#1
                th(scope='col') Action#2
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                      = usuario.id
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'SI' : 'NO' 
                    td.text-center
                        a.btn.btn-light(href='/usuarios/'+usuario.id+'/update') Editar
                    td.text-center
                        form.inline(action='usuarios/'+usuario.id+'/delete' method='post')
                            input(type='hidden' name='id' value=usuario.id)
                            button.link-button.btn.btn-light(type='submit' name='submit_param' value='submit_value') Eliminar
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br