extends ../layoutCRUD

block content       
    .masthead-usuario-update
        .container(style='padding-top: 140px;')
            a.btn.btn-light(href='/usuarios') Volver
            .row.justify-content-md-center(style='padding-top: 30px;')
                .col-md-6.col-sm-12
                    form(action=`/usuarios/${usuario.id}/update` method='post')
                        .form-group
                            h1.text-center
                                small Editar Usuario
                            br
                        .form-group
                            p ID: 
                                span=usuario.id
                        .form-group
                            p Verificado: 
                                span=usuario.verificado ? 'SI' : 'NO'
                        .form-group
                            label(for='nombre') Nombre:
                            input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '' )
                            if errors.nombre
                                small(#nombreHelp.text-danger)
                                    = errors.nombre.message
                        .form-group
                            label(for='email') Email:
                            input#email.form-control(type='text' name='nombre' value=usuario.email class=errors.email ? 'is-invalid' : '' )
                            if errors.email
                                small(#emailHelp.text-danger)
                                    = errors.email.message
                        br
                        .form-group
                            input.btn.btn-light.btn-block(type="submit" value='Enviar')
                        br
                        br
                        br