extends ../layoutCRUD

block content
  .masthead-bicicleta-list
    .container(style='padding-top: 140px;')
      a.btn.btn-light(href='/bicicletas/create') Nueva Bicicleta
      table.table(style='margin-top: 30px; color: white;')
        thead
          tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicación
            th(scope='col') Action#1
            th(scope='col') Action#2
        tbody
          each bici in bicis
            tr
              td(scope='row')=bici.code
              td=bici.color
              td=bici.modelo
              td=bici.ubicacion
              td
                a.btn.btn-light(href='/bicicletas/' + bici.id + '/update') Editar
              td
                form.inline(action='bicicletas/' + bici.id + '/delete' method='post')
                  input(type="hidden" value=bici.id)
                  button.link-button.btn.btn-light(type='submit' name='submit_param' value='submit_value') Eliminar
    br
    br
    br
    br
    br
    br
    br
    br
    br
