extends ../layoutCRUD

block content
    .masthead-bicicleta-update
        .container(style='padding-top: 140px;')
            a.btn.btn-light(href='/bicicletas') Volver
            .row.justify-content-md-center(style='padding-top: 30px;')
                .col-md-6.col-sm-12
                    form(action=`/bicicletas/${bici.id}/update` method='post')
                        .form-group
                            h1.text-center
                                small Editar Bicicleta
                        .form-group
                            p ID: 
                                span=bici.id
                        .form-group
                            label(for='code') Code
                            input#code.form-control(type='text' name='code' value=bici.code)
                        .form-group
                            label(for='color') Color
                            input#color.form-control(type='text' name='color' value=bici.color)
                        .form-group
                            label(for='modelo') Modelo
                            input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                        .form-group
                            label(for='lat') Latitud
                            input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                        .form-group
                            label(for='lng') Longitud
                            input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
                        br
                        .form-group
                            input.btn.btn-light.btn-block(type='submit' value='Modificar')
                        br
                        br
                        br